@import url('https://fonts.google.com/specimen/Abril+Fatface?preview.size=34&query=TypeTogether#standard-styles');

.App {
  font-family: Abril Fatface;
  color: #fdfdfd;
  background-color: #123131;
}

#sections {
  position: relative;
  width: 100%;
}

#sections section {
  background-size: cover;
}

#home {
  background-color: #123131;
  text-align: left;
  padding-top: 10%;
  padding-left: 25%;
  word-wrap: break-word;
  margin-bottom: 15px;
  height: 650px;
}

#about {
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 15%;
  background-color: #40a5d43f;
}

#contact {
  background-color: #484848;
  text-align: center;
  height: 650px;
}

/* home section */

#home-hello {
  font-size: 1.1em;
}
#home-name {
  font-size: 4.4vw;
}
#home-description {
  font-size: 1.1em;
  height: 9vh;
  width: 65vw;
}

/* about section */
#about-me {
  font-size: 3.5em;
  padding-bottom: 1em;
  padding-left: 15%;
}

#about-photo {
  border-radius: 100%;
  box-shadow: 0px 0px 40px #000000;
}
.about-content {
  display: flex;
  padding-left: 15%;
}

#about-description {
  padding-left: 5%;
  margin-top: 5%;
  font-size: 1.2em;
  width: 50%;
}
.about-content2 {
  margin-top: 5%;
  display: flex;
  padding-left: 15%;
  font-size: 1.2em;
}
.about-list {
  padding-left: 5%;
  width: 50%;
}
.about-content2 ul {
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: space-around;
}
li {
  list-style: none;
  flex: 0 0 32%; /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
}
/* experience*/
#experience {
  padding-top: 5%;
  padding-bottom: 300px;
}

#experience-title {
  font-size: 3.5em;
  padding-left: 25%;
}

.project-list {
  display: flex;
  align-content: flex-start;
  justify-content: center;
}
.project-list .test {
  margin: 0 55px;
}
:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(142, 9%, 61%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-900);
}
.test:nth-of-type(1) {
  background-image: url('https://image.freepik.com/free-vector/coding-concept-website-development-app-software-programming-with-laptop-virtual-screens-html5-php-code-vector-background_53562-9215.jpg');
}
.test:nth-of-type(2) {
  background-image: url('https://img.etimg.com/thumb/msid-76985540,width-1200,height-900,imgsize-758818,resizemode-8,quality-100/prime/technology-and-startups/tcs-is-ready-to-mine-the-new-crypto-economy-snatches-early-mover-advantage-with-quartz.jpg');
}
.test:nth-of-type(3) {
  background-image: url('https://thumbs.dreamstime.com/b/child-touching-stars-sky-kids-dream-vector-illustration-paper-art-origami-style-paper-cut-design-concept-child-122822042.jpg');
}
.test {
  background-position: center;

  left: 10%;
  color: var(--clr-neutral-100);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 30px;
  overflow: hidden;

  transition: transform 500ms ease;
}

.test:hover {
  transform: scale(1.05);
}
.test:hover,
.test:focus-within {
  transform: scale(1.05);
}
.card-content {
  --padding: 1rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(193 100% 50% /1) 35%,
    hsl(0 0% 0% /1)
  );
}

@media (hover) {
  .card-content {
    transform: translateY(75%);
    transition: transform 650ms ease;
  }
  .test:hover .card-content,
  .test:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 300ms;
  }
  .test:focus-within .card-content {
    transition-duration: 0ms;
  }
  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }
  .test:hover .card-content > *:not(.card-title),
  .test:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 800ms;
  }
  .card-title::after {
    transform: scaleX(0);
  }
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: '';
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: var(--clr-neutral-400);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}
.test:hover .card-title::after,
.test:focus-within .card-title::after {
  transform: scaleX(1);
}
.button {
  background-color: #090f46;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-100);
  padding: 0.5em 1.25em;
  border-radius: 0.5em;
}

.button:hover,
.button:focus {
  background-color: rgb(73, 0, 73);
}
